MONGO_URI=mongodb://kiranuser:Kiran123@ac-kmyoht0-shard-00-00.rrsr0gq.mongodb.net:27017,ac-kmyoht0-shard-00-01.rrsr0gq.mongodb.net:27017,ac-kmyoht0-shard-00-02.rrsr0gq.mongodb.net:27017/splitsmart?ssl=true&replicaSet=atlas-qgxt8l-shard-0&authSource=admin&retryWrites=true&w=majority
PORT=5000